.mainChatScreen{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
    "chatNavBar chatNavBar chatNavBar"
    "message message message"
    "controlBar controlBar controlBar"
}
.chatNavBar{
    grid-area: chatNavBar;
}
.message{
    height: 500px;
    grid-area: message;
}
.controlBar{
    position: relative;
    grid-area: controlBar;
}